# Use our custom-configured c++ toolchain.
build:mingw_config --crosstool_top=//toolchain:mingw_suite

# Use --cpu as a differentiator.
build:mingw_config --cpu=k8

# Use the default Bazel C++ toolchain to build the tools used during the
# build.
build:mingw_config --host_crosstool_top=@bazel_tools//tools/cpp:toolchain

build:mingw_config --compilation_mode=dbg

#build:mingw_config --linkopt /debug

# Enable experimental for MODULE.bazel to pull from common Bazel registry
common --experimental_enable_bzlmod